@font-face {
    font-family: 'JaroCyrillic';
    src: url(jaro-cyrillic.otf);
}
html, body {
    height: 100%;
    font-size: 1rem;
}
body {
    font-family: "JaroCyrillic", sans-serif;
    font-size: 1.5rem;
}
.page-first {
    background: #DDDDDD;
    height: 100vh;
    padding-top: 12%;
}
.page-first h2 {
    font-size: 5rem;
    padding-bottom: 1.5rem;
}
.page-first .btn {
    font-size: 1.5rem;
    border-radius: 2rem;
}
.page-first .img-col {
    float: right;
    border: 6px black solid;
    border-radius: 2.5rem;
}
.logo:hover {
    transform: scaleX(-1);
}

.main-text {
    font-size: 1.75rem;
}

.page-second {
    background: #FFFFFF;
    height: 100vh;
    padding-top: 6%;
    text-align: center;
}

.page-second2 {
    background: #DDDDDD;
    height: 100vh;
    text-align: center;
}
.page-second2 .soon {
    font-size: 7rem;
    margin-top: 25%;
}


.page-second h2 {
    font-size: 5rem;
    padding-bottom: 1.5rem;
}
.page-second h3 {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.second-text {
    font-size: 3rem;
    padding-top: 3%;
}

.page-second .p-second {
    padding-bottom: 4rem;
}
.page-second .feature .card-text-1 {
    font-size: 1.25rem;
}

.page-three {
    background: #FFFFFF;
    height: 90vh;
    text-align: center;
}
.page-three h2 {
    font-size: 5rem;
    padding-bottom: 1.5rem;
}
.page-three h3 {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}
.page-three .p-second {
    padding-bottom: 4rem;
}
.page-three .feature .card-text-1 {
    font-size: 2.5rem;
    padding-left: 20%;
    padding-right: 20%;
}

.btn-navbar {
    margin-top: -5%;
    font-size: 1.25rem;
}

.btn-header {
    padding-left: 20px;
    padding-right: 20px;
}

.img-token {
    border: 6px black solid;
    border-radius: 2.5rem;
}

.loop-slide .img-token {
    border: 6px black solid;
    border-radius: 2.5rem;
    width: 75%;
}

.wow {
    opacity: 0;
    transition: all 0.2s 0.2s ease-out;
}
.wow2 {
    opacity: 0;
    transition: all 0.4s 0.4s ease-out;
}
.wow3 {
    opacity: 0;
    transition: all 0.6s 0.6s ease-out;
}

.animated {
    opacity: 1;
}

.navbar {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.loop-slide {
    overflow: hidden;
}
.loop-slide > div {
    display: flex;
    animation: slide-to-left 5s linear infinite;
}
.loop-slide > div > * {
    min-width: calc(100% / 5);
}
@keyframes slide-to-left {
    100% { transform: translateX(-100%) }
}

.btn-second {
    font-size: 1.5rem;
}

@media (max-width: 992px) {
    .page-first {
        padding-top: 20%;
        height: 100%;
    }
    .page-second,.page-three {
        height: 100%;
    }
    .page-first .img-col {
        float: left;
        position: relative;
        right: -20%;
        margin-top: 3rem;
    }
    .page-first h2 {
        font-size: 4rem;
    }
    .page-second h2 {
        font-size: 4rem;
    }
    .btn-navbar {
        margin-top: 0.5rem;
    }
    .page-three .feature .card-text-1 {
        padding-left: 5%;
        padding-right: 5%;
		font-size: 2rem; 
    }
    .img-token {
        border-radius: 1rem;
    }
    .second-text {
        font-size: 2rem;
    }
    .page-second2 .soon {
        margin-top: 50%;
    }
    .loop-slide .img-token {
        border-radius: 1rem;
    }
	.slider-width {
		width: 300%;
	}
}

@media (max-width: 768px) {
    .page-first .img-col {
        margin-bottom: 20%;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .page-first {
        padding-top: 12%;
        padding-bottom: 3rem;
    }
}